
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.box{
  padding: 30px;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #ccc;
  background: #efefef;
}
.custom-input{
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  color: #495057;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: white;
  line-height: 1.8;
  padding: .5rem 1rem;
  height: 48px;
  border-radius: 8px;
  background-color: #fafbfb;
  font-size: 0.9rem;
  margin-top: 8px;
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #ccc;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width: 100% !important;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
body {
  font-family: 'Lato', sans-serif;
  /* overflow: hidden; */
}

.app-logo {
  margin: 0 auto;
  width: 100%;
}

.box-logo {
  width: 212px;
  height: 30px;
  box-shadow: 0 3px 3px -1px rgba(10, 22, 70, 0.1), 0 0 1px rgba(10, 22, 70, 0.06);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0 12px;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #a5a5a5;
}

label {
  margin: 0;
  color: #006ce6;
  font-family: "Lato";
  font-size: 0.6rem;
  font-weight: 300;
  line-height: 20px;
  display: block;
}

.mtn-2 {
  margin-top: -2px;
}

.mbs-5 {
  margin-bottom: 5px;
}

.form-control {
  line-height: 1.8;
  padding: .5rem 1rem;
  height: 48px !important;
  border-radius: 8px;
  background-color: #fafbfb;
  font-size: 0.9rem;
  margin-top: 8px;
}

.form-group {
  margin-bottom: 0.5rem;
}

select.form-control {
  height: 46px;
}

.special-title {
  color: #0a1f44;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  font-size: 0.8rem;
}

.container-small {
  max-width: 375px;
}

.avatar {
  margin-top: -42px;
}
.avatar img {
  width: 58px;
}
.block-container{
  max-width: 280px;
  margin: 0 auto;
}
.btn-success {
  
  height: 48px;
  border-radius: 8px;
  background-image: linear-gradient(to top, #85c526 0%, #ccf393 100%);
  border: 0;
  
  color: #ffffff;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.btn-success:hover {
  background-color: #64af28;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.vs--searchable .vs__dropdown-toggle {
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
}

.vs__open-indicator {
  fill: #85c056;
}

.vs__dropdown-menu {
  max-width: 100px !important;
}
.vs__dropdown-menu li:hover {
  background: #6fc641;
}
.vs__dropdown-menu li:focus {
  background: #6fc641;
}
.vs__dropdown-menu li:active {
  background: #6fc641;
}
.vs__dropdown-menu li:visited {
  background: #6fc641;
}

.vs__actions {
  cursor: pointer;
}

label i {
  opacity: 0;
}

.show-helper label i {
  opacity: 9.9;
}

.extra-rounded, .select , .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #b7e573 !important;
}

.btn-extra__rounded {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
}

button.btn {
  cursor: pointer;
}

button.vs__clear {
  display: none;
}

input.vs__search {
  position: relative;
  color: #ccc;
}

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
  height: 46px;
}

span.vs__selected {
  margin-top: 5px;
}

.spad span.vs__selected {
  margin-top: 10px;
}

.form-icon {
  float: right;
  margin-top: -32px;
  margin-right: 20px;
  color: #a7aebb;
}

/* IE11 hide native button */
input:-internal-autofill-selected {
  background-color: #fff !important;
  background-image: none !important;
  color: black !important;
}

.powered-text {
  height: 16px;
  color: #006ce6;
  font-family: "Lato";
  font-size: 10px;
  font-size: 0.62rem;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}
i.ico-flinks_text img {
  height: 16px;
  margin: 5px 5px;
}

i.ico-flinks-btn.form-icon img {
  width: 12px;
  margin-top: -15px;
}
.link-raw{
  /* Style for "Have Quest" */
  width: 108px;
  height: 16px;
  color: #006ce6;
  font-family: "Lato";
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-transform: uppercase;
  display: block;
  width: 100%
}


.pristine-error.text-help {
  font-size: 0.6rem;
  color: red;
  min-height: 25px;
  margin-top: -19px;
  float: right;
  margin-right: 12px;
}

.has-danger input {
  border-bottom: 1px solid red;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 992px) {
  body {
    background: #f9f9f9;
  }
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: 100%;
  }

  .card-special{
    background: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-radius: 8px;
    padding-top: 25px;
    margin-top: 10%;
  }
}

/* loading page */
.hide{
  display: none;
}
.main {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  width: 20px;
  height: 20px;
  background: white;
  display: inline-block;
  margin: 1px;
  animation: flash 5.6s infinite;
}

.hidden-square {
  background: transparent;
  animation: unset;
}

@keyframes flash {
  0%, 10%, 100% {
    background: #ccc;
  }
  
  5% {
    background: #85c526 ;
  }
}
.loading-msg{
  position: absolute;
  text-align: center;
  margin-top: 90px;
}






.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background-image: linear-gradient(to top, #85c526 0%, #ccf393 100%);
  cursor: pointer;
  -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #85c526 0%, #ccf393 100%);
  cursor: pointer;
  -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

.slider:hover::-webkit-slider-thumb{
  box-shadow: 1px 0px 0px 10px #a4d95680;
  -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

.slider:active::-webkit-slider-thumb{
  box-shadow: 1px 0px 0px 10px #a4d95675;
  -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}